Html, body  {
    margin: 0;
    padding: 0;
    height: 100%;
}


Body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(
        to bottom, 
        #c62828 0%,
        #b91d1d 10%,
        #8d3d1f 20%,
        #2e7d32 40%,
        #66bb6a 70%,
        #a5d6a7 80%,
        #ffffff 100%
    );
    font-family: Arial, sans-serif;
}

Main {

    flex: 1;
}

footer {
    background-color: #b71c1c;
    color: white;
    text-align: center;
}

header{
    background-color: #c62828;
    color: white;
}
h1 {
    font-family: 'Snowburst One', cursive;
    color: #ffffff;
    text-shadow: 0px 0px 10px #71d6ff, 0px 0px 20px #71d6ff;
}
