Html, body  {
    margin: 0;
    padding: 0;
}


Body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #c62828 0%, #015304 60%);
    font-family: Arial, sans-serif;
}

Main {

    flex: 1;
}

footer {
    background-color: #b71c1c;
    color: white;
    text-align: center;
}

header{
    background-color: #c62828;
    color: white;
}
h1 {
    font-family: 'Snowburst One', cursive;
    color: #ffffff;
    text-shadow: 0px 0px 10px #71d6ff, 0px 0px 20px #71d6ff;
}
.card-green {
    background-color: #1b5e20 !important; /* tamsiai žalia */
    color: white !important;
}

.card-red {
    background-color: #b71c1c !important; /* tamsiai raudona */
    color: white !important;
}
